<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name = "hibernate.dialect">
      org.hibernate.dialect.MySQLDialect
    </property>

    <property name = "hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>

    <!-- Assume test is the database name -->

    <property name = "hibernate.connection.url">jdbc:mysql://localhost:3306/ConferenceManagement</property>

    <mapping class="pojo.Accounts"/>
    <mapping class="pojo.ConferenceVenueLocations"/>
    <mapping class="pojo.Conferences"/>
    <mapping class="pojo.MeetingAccounts"/>
    <mapping class="pojo.VenueLocations"/>

    <!-- DB schema will be updated if needed -->
    <!-- <property name="hibernate.hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>